@model IEnumerable<FEEDBACK.Models.LOAIKHACHSAN>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .form-search {
           text-align:center;
        }
        .checked {
            color: orange;
        }

        .loai-ks {
            font-weight: 400;
        }
    </style>
</head>
<body>

    <h2 style="font-weight:bold; text-align:center">Quản lý khách sạn theo loại</h2>

    <br />
    @Html.ActionLink(">> Trang chủ Admin", "Index", "Admin")

    <br />
    <br />
    <br />

    <h5 style="text-align:center;font-style:italic; font-weight:bold; color:blue">Tìm kiếm các khách sạn theo mã loại</h5>
    <div class="form-search">
        @using (Html.BeginForm("Search", "Search_KS", FormMethod.Get, new { @class = "formsearch" }))
        {

            @Html.TextBox("searching")
            <button type="submit">Search</button>
        }
    </div>
    <br />
    <br />
    <h4>Chi tiết các loại khách sạn </h4>@Html.ActionLink(" >>Bấm xem chi tiết tất cả khách sạn","Index","DM_KHACHSAN")
    <br />
    <br />



    <table class="table">
        <tr style="color:darkblue">
            <th>
                Tên loại
            </th>
            <th>Mã loại</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GHICHU)
                </td>
                <td>@Html.DisplayFor(modelItem => item.MALOAI_KS)</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MALOAI_KS }) ||
                   <!-- @Html.ActionLink("Chi tiết", "Details", new { id = item.MALOAI_KS }) |-->
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MALOAI_KS })
                </td>
            </tr>
        }


    </table>
    <button>
        @Html.ActionLink("Thêm loại khách sạn mới", "Create")
    </button>
