@model IEnumerable<FEEDBACK.Models.DM_KHACHSAN>

@{
    ViewBag.Title = "Search";
}
<html>
<head>
    <style>

    </style>
</head>
<body>

<br />
    @Html.ActionLink(" >>Quản lý khách sạn theo loại","Index","LOAIKHACHSANs")
<br />
    <br />
<h4 style="font-weight:bold">Các khách sạn loại <p style="color:red; font-style:italic">@ViewBag.Search</p> </h4>
<br />
<br />


<table class="table">
    <tr style="color:darkblue">
      
        <th>
            Tên cơ sở
        </th>
        <th>
            Địa chỉ
        </th><th></th>
        <th>Số phòng</th>
        <th>Số giường</th><th></th><th></th>
        <th>
            Điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Dịch vụ
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.TENCOSO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIACHI)
    </td><td></td>
    <td>@Html.DisplayFor(modelItem => item.SOPHONG)</td>
    <td>@Html.DisplayFor(modelItem => item.SOGIUONG)</td><td></td><td></td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMAIL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GHICHU)
    </td>

    <td>
    </td>
</tr>
    }

</table>
</body>
</html>