@model FEEDBACK.Models.DM_KHACHSAN

@{
    ViewBag.Title = "Create";
}

<h2>Thêm khách sạn</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>Tên cơ sở</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENCOSO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENCOSO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <h4>Số phòng</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOPHONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SOPHONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Số giường</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOGIUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SOGIUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <h4>Địa chỉ</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Điện thoại</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <h4>Email</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Ghi chú dịch vụ</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GHICHU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GHICHU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Loại khách sạn</h4>
            <div class="col-md-10">
                @Html.DropDownList("MALOAI_KS", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MALOAI_KS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Trạng thái</h4>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TRANGTHAI)
                    @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<br />
<div>
    @Html.ActionLink(">> Trở về danh sách ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
