@model FEEDBACK.Models.DM_KHACHSAN

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa khách sạn</h2>

<h4 style="color:red; font-style:italic">Bạn có chắc muốn xóa khách sạn này chứ?</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4>Loại khách sạn</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIKHACHSAN.GHICHU)
        </dd>

        <dt>
            <h4>Tên cơ sở</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCOSO)
        </dd>

        <dt>
            <h4>Số phòng</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOPHONG)
        </dd>
        <br />
        <dt>
            <h4>Số giường</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOGIUONG)
        </dd>
        <br />
        <dt>
            <h4>Địa chỉ</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>
        <br />
        <dt>
            <h4>Điện thoại</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <br />
        <dt>
            <h4>Email</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <br />
        <dt>
            <h4>Ghi chú</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>
        <br />
        <dt>
            <h4>Trạng thái</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>
        <br />
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink(">> Trở lại danh sách khách sạn", "Index")
        </div>
    }
</div>
