@model FEEDBACK.Models.DM_KHACHSAN

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết khách sạn</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4>Loại khách sạn</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIKHACHSAN.GHICHU)
        </dd>

        <dt>
            <h4>Tên cơ sở</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCOSO)
        </dd>

        <dt>
           <h4>Số phòng</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOPHONG)
        </dd>
        <br />
        <dt>
            <h4>Số giường</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOGIUONG)
        </dd>
        <br />
        <dt>
            <h4>Địa chỉ</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>
        <br />
        <dt>
            <h4>Điện thoại</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <br />
        <dt>
            <h4>Email</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <br />
        <dt>
            <h4>Ghi chú</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>
        <br />
        <dt>
            <h4>Trạng thái</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>
        <br />
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MAKS }) 
    <br /><br />
    @Html.ActionLink(">>Trở lại danh sách khách sạn", "Index")
</p>
