@model IEnumerable<FEEDBACK.Models.DM_KHACHSAN>

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <style>

    </style>
</head>
<body>
<h2>CHI TIẾT CÁC KHÁCH SẠN</h2>
<br />
    @Html.ActionLink(">>Quản lý khách sạn theo loại","Index","LOAIKHACHSANs")
    <br />
    <br />
<button>
    @Html.ActionLink("Thêm khách sạn", "Create")
</button>
<br />
<table class="table">
    <tr>
        
        <th>
            Tên cơ sở
        </th>
        <th>
            Số phòng
        </th>
        <th>
            Số giường
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th>
           Email
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENCOSO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOGIUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHICHU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIKHACHSAN.GHICHU)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MAKS }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MAKS }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MAKS })
        </td>
    </tr>
}

</table>
